@import './setup/gallery.css';
@import './setup/helpers.css';
@import './setup/font-family.css';

/* /~ cmps ~/ */
@import './cmps/header.css';
@import './cmps/editor.css';
@import './cmps/footer.css';
@import './cmps/dropDown.css';
@import './cmps/pop-up-msg.css';
@import './cmps/transform-lang.css';

* {
    box-sizing: border-box;
    font-family: poppins;
}

body {
    text-align: center;
    background-color: #22252c;
    text-transform: capitalize;
}
.saved-area {
    display: none;
}

