@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-extra-bold;
    src: url(/fonts/Poppins/Poppins-ExtraBold.ttf);
}

* {
    box-sizing: border-box;
    font-family: poppins;
}

.icon-border-out {
    background: none;
    border: none;
}

.style-edit-btn {
    /* Style for "Rectangle" */
    width: 55px;
    height: 51px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.a-clean {
    text-decoration: none;
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}

.flexc {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

body {
    text-align: center;
    background-color: #22252c;
    text-transform: capitalize;
}


header {
    width: 100%;
    border-radius: 3em;
    padding: 1.7em;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    justify-content: space-around;
}

header a {
    color: #ffffff;
    letter-spacing: 0.5px;
    font-size: 21px;
    min-width: 150px;
}

header a:hover {
    background-color: #ffffff;
    border-radius: 2em;
    color: #21ac91;
}

.logo {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    padding-left: 1em;
}

.main-content {}

.meme-image-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    gap: 2.7em;
    padding: 1em;
    justify-content: center;
    border-radius: 15px;
    background-color: #383b42;
}

.meme-image-area img {
    border-radius: 15px;
    cursor: pointer;
    min-height: 200px;
    max-width: 230px;

}

.search-bar {

    align-self: center;
    padding: 0.5em;
    border-radius: 29px;
    background-color: #22252c;
    border: none;
}


.image {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.editor-container {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;

}

.editor {
    border-radius: 1.5em;
    background-color: #3f434e;
    grid-template-columns: repeat(3, minmax(90px, 1fr));
    grid-template-rows: repeat(6, 40px);
    align-items: center;
    gap: 1.2em;
    padding: 0.9em;
    /* min-width: 475px; */
}

#meme-text {
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 2em;
    font-size: 25px;
    height: fit-content;
    border: none;
    text-align: center;
    grid-area: 1 / 1 / 1 / 4;
}


.switch-line {
    padding: 0.8em;
    font-weight: bold;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    grid-area: 2 / 1;
}


.add-line {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    border: none;
    color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
    grid-area: 2 / 2;

}


.left {
    grid-area: 4 / 1;
}

.center {
    grid-area: 4 / 2;
}

.right {
    grid-area: 4 / 3;
}

.Share {
    background-color: #1e7cd3;
    border-radius: 15px;
    padding: 0.5em;
    color: #ffffff;
    justify-content: space-evenly;
    grid-area: 6 / 1 / 6 / 2;
}

.font-up {
    grid-area: 3 / 1;
}

.font-down {
    grid-area: 3 / 2;
}


.font-color {
    grid-area: 3 / 3;
}

.font-color img {
    max-height: 40px;
    max-width: 40px;
    background-color: white;
}

.download {
    text-decoration: none;
    color: #ffffff;
    background-color: #8f44bb;
    border-radius: 15px;
    grid-area: 6 / 2 / 6 / 4;
    justify-content: space-evenly;
    padding: 0.5em;
}

.canvas-container {
    padding-top: 1.3em;
}


@media (min-width: 1100px) {

    .editor-container {
        flex-direction: row;
        max-height: 560px;
        gap: 30px;
        padding: 2em;
    }


    .editor {
        grid-template-columns: repeat(5, minmax(80px, 1fr));
        grid-template-rows: repeat(6, minmax(20px, 1fr));
        padding: 3em;
    }

    #meme-text {
        grid-area: 1 / 2 / 1 / 5;
    }

    .switch-line {
        grid-area: 2 / 2;
    }


    .left {
        grid-area: 3 / 3;
    }

    .center {
        grid-area: 3 / 4;
    }

    .right {
        grid-area: 3 / 5;
    }

    .Share {
        grid-area: 6 / 1 / 6 / 3;
    }


    .font-up {
        grid-area: 3 / 1;
    }

    .font-down {
        grid-area: 3 / 2;
    }

    #font-color {
        grid-area: 4 / 5;
    }


    .download {
        text-decoration: none;
        color: #ffffff;
        background-color: #8f44bb;
        border-radius: 15px;
        grid-area: 6 / 4 / 6 / 6;
        justify-content: space-evenly;
        padding: 0.5em;
    }

    .canvas-container {
        padding-top: 0em;
    }

    canvas {
        width: 450px;
        height: 500px;
    }

}


.main-footer {
    margin-top: 10px;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 15px;
    /* justify-content: space-around; */
}

.icon-box {
    justify-content: center;
}

.s-text {
    color: #dcd8d8;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 1em;
}

.icon-box a {
    display: block;
    padding: 1em 1em;
    /* text-align: center; */
}

.icon-box a img {
    height: 20px;
    padding: 0px 10px;
}

.logo-footer {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;
    padding: 1.2em;
}