@import './setup/gallery.css';
@import './setup/helpers.css';
@import './setup/font-family.css';

/* /~ cmps ~/ */
@import './cmps/header.css';
@import './cmps/editor.css';
@import './cmps/footer.css';

* {
    box-sizing: border-box;
    font-family: poppins;
}

body {
    text-align: center;
    background-color: #22252c;
    text-transform: capitalize;
}

